.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .item {
    flex-grow: 1;
    margin: 10px 10px 0 10px;
  }
  .title-header{
      text-align: center;
      margin-top: 1% !important;
  }
  .label{
    margin: 10px 10px;
    font-size: 20px;
  }
  .convertButton{
      margin-left: 2% !important;
  }
  .jsonHeading{
      text-align: center !important;
  }
  .downloadJson{
      float: right;
  }